:root {
    background-image: url("background_image.jpg");
    background-size: 100%;
}

.topnav {
    overflow: hidden;
    background-color: transparent;
}

.topnav img {
    float: left;
    width: 150px;
}

.topnav a {
    float: right;
    text-decoration: none;
    padding: 10px 25px;
    text-align: center;
    font-size: 25px;
    color: white;
    border-radius: 50px;
    margin-top: 30px;
}

.topnav a:hover{
    background-color: rgba(255, 255, 255, 0.241);
}

.selected {
    background-color: rgba(255, 255, 255, 0.241);
}

.header {
    color: white;
    text-align: center;
    margin-left: 100px;
    margin-right: 400px;
}

